.align {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
body {
    background-color: #eaeaea;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
  }
._header {
    background-color: #282830;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
._title {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
  }
._body {
    background-color: #fff;
    padding: 1.5em;
    position: relative;
  }

._footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  table, td, th{
    border: 1px solid black;
    text-align: center;
    padding: 15px ;
    border-collapse: collapse;
  }